@import "../mixing/fn.scss";
@import "../mixing/variables.scss";

$line-height: px2rem(80px);
.date-picker {
    @include px2px('border-top', 1px solid $color-border-default);
    @include px2px('border-bottom', 1px solid $color-border-default);
    width: 100%;
    @include px2rem('padding', 0 $padding-l 0 $padding-l);
    line-height: $line-height;
    font-size: px2rem(map_get($map-font-size, m));
    color: #666;
    .year-month {
        display: inline-block;
        width: 70%;
        text-align: center;
        font-size: inherit;
        span{
            font-size:inherit;
        }
    }
    .prev-month,
    .next-month{
        display: inline-block;
        width: 15%;
        text-align: center;
    }
    .day-box {
        span {
            display: inline-block;
            width: 14.2857%;
            text-align: center;
            line-height: inherit;
            font-size: inherit;
            &.rest {
                color: $brand-primary;
            }
        }
    }
    .date-box{
        div {
            display: inline-block;
            width: 14.2857%;
            text-align: center;
            line-height: inherit;
            span{
                display: inline-block;
                height: $line-height * 0.8;
                width: $line-height * 0.8;
                margin-top: $line-height * 0.1;
                line-height: $line-height * 0.8;
                font-size: inherit;
                border-radius: $line-height * 0.4;
                @include px2px("border", 1px solid rgba(0,0,0,0));
                &.disabled{
                    color: #ccc;
                }
                &.current{
                   border-color: $brand-danger;
                }
                &.need-interval{
                    border-color: #999;
                    color: #999;
                }
                &.interval{
                    border-color: rgba(0,0,0,0);
                    color: $brand-danger;
                }
                &.selected{
                    border-color: $brand-danger;
                    background: $brand-danger;
                    color: #fff;
                }
            }
        }
    }
}